/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@font-face {
    font-family: "Monocraft";
    src: url(minecraftfont/Monocraft.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */
 :root{
    --color_yellow: yellow;
    --color_pink: #eb1591;
    --color_gray: #302b2e;
    --color_white: white;
    --text_standart-font-size: 17px;
    --text_small-font-size: 10px;
    --text_medium-font-size: 40px;
    --text_big-font-size: 5vw;
    --grid_standart-grid: auto-flow / 0.4fr 1fr;
 }
 html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}
body {
    margin:0;
    background-color: var(--color_gray);
    padding: 0 20%;
}
h1,h2,h3,h4,p{
    color: var(--color_white);
}
h1{
    font-size: var(--text_big-font-size);   
    font-weight: bolder;
}
h3{
    font-size: var(--text_medium-font-size);
    font-weight: bold;
}
p{
    font-size: var(--text_standart-font-size);
}
.italic-text *{
    font-style: italic;
}
.yellow-text{
    color: var(--color_yellow);
}
*[class$="small-text"], *[class$="small-text"] *{
    font-size: var(--text_small-font-size);
}
*[class$="standart-text"]{
    font-size: var(--text_standart-font-size);
}
*[class$="medium-text"]{
    font-size: var(--text_medium-font-size);
}
*[class$="big-text"]{
    font-size: var(--text_big-font-size);
    margin:0;
}
img{    
    border-radius: 2px; /* скругление углов (опционально) */
}
div[class$="_img"]{
    width: 95%;
    justify-self: end;
    max-width: 956px;
    border: 1px solid var(--color_yellow);
}
img[class="full-width"]{
    width: 100%;
    height: auto;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;
}
[type="button"] {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.2s;
    cursor: pointer;
    padding: 0 40px;
}
.header-text{
    margin-bottom: 5vh;
    width: 100%;
}
.header__row *{
    margin: 0;
}

.header__row:first-child *{
    text-align: start;
}
.header__row:last-child *{
    text-align: end;
}

/* .header__background{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 50%;
} */
/* .header__background svg{
    width: 100px;
    height: 100px;
}
.header__background path{
    fill: var(--color_yellow);
} */

.header-buttons{
    display: grid;
    align-items: center;
    grid-template-rows: 1;
    grid-template-columns: auto auto;
    gap: 3vw;
}
.header-buttons>button{
    border: 2px solid var(--color_pink);
    width: auto;
}
.header-buttons>button:first-child{
    background-color: var(--color_pink);
    color: var(--color_white);
}
.header-buttons>button:last-child{
    background-color: rgba(0,0,0,0);
}
.header-buttons>button:last-child p{
    color: var(--color_pink);
}

.main__section{
    margin: 5vh auto;
}
.section_about-school{
    display: grid;
    grid: var(--grid_standart-grid);
    gap: 3%;
    align-items: center;
    justify-items: center;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
table tr{
    height: auto;
    /* border: 1px solid var(--color_yellow); */
}
.about-school__sheet table td{
    padding: 5px 25px;
    /* display: grid;
    grid-template-columns: auto auto; */
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.about-school__sheet table td p{
    text-align: center;
}