/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@font-face {
    font-family: "Monocraft";
    src: url(minecraftfont/Monocraft.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */
 :root{
    --color_yellow: yellow;
    --color_pink: #eb1591;
    --color_gray: #302b2e;
    --color_white: white;
    --text_standart-font-size: 17px;
    --text_small-font-size: 10px;
    --text_medium-font-size: 40px;
    --text_big-font-size: 5vw;
    --grid_standart-grid: auto-flow / 0.5fr 1fr;

    --header-z-index:10;

    --img-btn-width: 30px;
    --img-border-width:0; /*скрипт screenshots.js устанавливает значение*/
    /* не ставится картинкам (потому что размеры картинок ставятся через скрипты */
    --img-height:0;
    --img-width:0; /*скрипт slider.js устанавливает значение*/
    /* ------- */
 }
 html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}
body {
    margin:0;
    margin-top: 10vh;
    background-color: var(--color_gray);
}
h1,h2,h3,h4,p{
    color: var(--color_white);
}
h1{
    font-size: var(--text_big-font-size);   
    font-weight: bolder;
}
h3{
    font-size: var(--text_medium-font-size);
    font-weight: bold;
}
p{
    font-size: var(--text_standart-font-size);
}
.italic-text *{
    font-style: italic;
}
.yellow-text{
    color: var(--color_yellow);
}
*[class$="small-text"], *[class$="small-text"] *{
    font-size: var(--text_small-font-size);
}
*[class$="standart-text"]{
    font-size: var(--text_standart-font-size);
}
*[class$="medium-text"]{
    font-size: var(--text_medium-font-size);
}
*[class$="big-text"]{
    font-size: var(--text_big-font-size);
    margin:0;
}
main, .header-buttons, .header-text{
    position: relative;
    z-index: 10;
}
img{    
    border-radius: 2px;
}
div[class$="_img"]{
    width: 95%;
    justify-self: end;
    max-width: 956px;
}
img[class="full-width"]{
    width: 100%;
    height: auto;
}
.add-margin-bottom{
    margin-bottom: 2vh;
}
.no-margin{
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;
}
[type="button"] {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.2s;
    cursor: pointer;
    padding: 0 40px;
}
.header-text{
    margin-bottom: 5vh;
    width: 100%;
}
.header__row *{
    margin: 0;
}

.header__row:first-child *{
    text-align: start;
}
.header__row:last-child *{
    text-align: end;
}

.header__background{
    position: absolute;
    top:0;
    left:0;
    width: max-content;
    z-index: 5;
}

img[id*="header__figure"]{
    max-width: 1000px;
    height: auto;
    opacity: 60%;
    /* filter: blur(10); */
}
#header__figure1{
    rotate: 70deg;
}
#header__figure2{
    rotate: 150deg;
    scale: 0.5;
}
/* .header__background svg{
    width: 100px;
    height: 100px;
}
.header__background path{
    fill: var(--color_yellow);
} */

.header-buttons{
    display: grid;
    align-items: center;
    grid-template-rows: 1;
    grid-template-columns: auto auto;
    gap: 3vw;
}
.header-buttons>button{
    border: 2px solid var(--color_pink);
    width: auto;
}
.header-buttons>button:first-child{
    background-color: var(--color_pink);
    color: var(--color_white);
}
.header-buttons>button:last-child{
    background-color: rgba(0,0,0,0);
}
.header-buttons>button:last-child p{
    color: var(--color_pink);
}
header, .main__section{
    padding: 0 20%;
}

.main__section{
    margin: 5vh auto;
}
.section_military {
    margin-bottom: 0;
}
/* .main__section h3:active {
    opacity: 0;
    transform: translateX(-100%);
} */
.light-section{
    display: grid;
    grid: var(--grid_standart-grid);
    gap: 3%;
    align-items: center;
    justify-items: center;
    background-color: var(--color_white);
    padding: 0 15vw;
}
.section_about-school p, .section_about-school h3{
    color: var(--color_gray);
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
table tr{
    height: auto;
    /* border: 1px solid var(--color_yellow); */
}
.about-school__sheet table td{
    padding: 5px 25px;
    /* display: grid;
    grid-template-columns: auto auto; */
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.about-school__sheet table td p{
    text-align: center;
}
#content-slider{
    padding: 0;
}
#slideBody{
    position: relative;
    width: var(--img-width);
    z-index: var(--header-z-index)+2;
    /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
    user-select: none;
    /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
    touch-action: pan-y;
}
.slide{
    max-width: 95%;
    min-width: 95%;
    border-radius: 20px;
    border: var(--img-border-width) var(--standart-grey) solid;
    width: var(--img-width);
    /* height: var(--img-height); */
    /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
    display: block;
    pointer-events: none;
    /* Чтобы слайды не сжимались */
    flex-shrink: 0;
    margin: auto;
    object-fit: cover;
}
#sliderContainer{
    width: var(--img-width);
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
    transition: width 0.5s ease;
}
#slider{
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    scroll-snap-type: y mandatory;
}
.slider__img-container{
    /* display: inline-block; */
    scroll-snap-align: start;
    margin: auto;
}
.img-btn{
    position: absolute;
    display: flex;
    border-radius: 360px;
    background-color:#393844d0;
    width: var(--img-btn-width);
    height: var(--img-btn-width);
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    cursor: pointer;
    z-index: calc(var(--header-z-index) + 3);
    margin:0;
}
#leftBtn{
    left: calc(var(--img-btn-width) + (var(--img-btn-width)/2));
    top: calc(var(--img-height)/2);
    /* left: calc(var(--img-btn-width) + (var(--img-btn-width)/2));
    top: 50%;
    transform: translateY(-50%); */
}
#rightBtn{
    right: calc(var(--img-btn-width) + (var(--img-btn-width)/2));
    top: calc(var(--img-height)/2);
    /* right: calc(var(--img-btn-width) + (var(--img-btn-width)/2));
    top: 50%;
    transform: translateY(-50%); */
}
.btn-arrow-right{
    transform: rotate(180deg);
}
.btn-arrow{
    width: auto;
    height: calc(var(--img-btn-width) - (var(--img-btn-width)/1.8));
}
.img-btn:hover{
    background-color: #44413879;
}

.sport__img-container{
    max-width: 500px;
    width: 90%;
}
.sport__img-container img{
    width: 100%;
}
/* .section_about-sport-club{
    padding: 0 15%;
} */

.shedule table{
    width: 80%;
}

.shedule__sheet-container{
    display: flex;
    align-items: center;
}
.shedule__days{
    text-align: end;
}
.shedule__days p{
    margin-bottom: calc(100% );
}
.shedule table td:not([class="sheet_no-border"]){
    border: 1px solid var(--color_yellow);
}
.shedule .sheet_no-border p{
    text-align: end;
}
.shedule__groups .sheet_no-border p{
    color: var(--color_white);
    text-align: center;
}
.shedule table td p{
    padding: 0 10px;
}
.shedule table td .sheet__main{
    padding: 0 5%;
}
.sheet__main_up{
    border-bottom: 1px solid var(--color_yellow);
}
.section_military__text p {
    color: var(--color_gray);
    font-size: var(--text_standart-font-size);
}
.section_military__img-container {
    margin: 2%;
    max-width: 500px;
}
.section_military__img img {
    width: 90%;
    height: auto;
}


@media (max-width:1000px){
    #leftBtn{
        left: calc(var(--img-btn-width));
    }
    #rightBtn{
        left: calc(var(--img-width) - var(--img-btn-width)*2);
    }
}
@media (max-width: 717px){
    .slide{
        border-radius: 12px;
        object-fit: fill;
    }
    #sliderContrainer{
        border-radius: 12px;
    }
    .img-btn{
        display: none;
    }
}


@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
  